html,
body {
  background-color: #353535;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #353535;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  color: white;
  background-color: #353535;
  display: flex;
  align-items: center;
  min-height: 10vh;
}

.jumbotron {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #3c6e71;
  color: #ffffff;
  margin-bottom: 0px;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  background-color: #d9d9d9;
  padding-bottom: 5vh;
  border-radius: 0.3rem;
  /* padding: 0px 98px 0px 98px; */
}

.project {
  /* max-height: 30vh; */
  display: flex;
  justify-content: center;
  min-height: 25vh;
  margin-top: 30px;

  background-color: #3c6e71;
}

.project:hover {
  background-color: #284b63;
  padding: 0 15% 0 15%;
}

.about {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projBtn {
  margin: 0 5% 0 5%;
  min-width: 20%;
}

.social {
  margin: 0 2.5vh 0 2.5vh;
}

.resume {
  width: 30%;
}

.resume:hover {
  width: 30%;
  background-color: #284b63;
}

.contact {
  width: 30%;
  background-color: #3c6e71;
  margin-right: 2.5vh;
  border-color: #3c6e71;
}

.contact:hover {
  width: 30%;
  background-color: #284b63;
  border-color: #284b63;
  color: white;
}

.footer {
  padding: 5vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #353535;
  color: white;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2.5vh 0 2.5vh 0;
}

#headshot {
  max-height: 55vh;
  max-width: 55vh;
  height: 100%;
  width: 100%;
}

.headshot {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
}
